"Tag" is a confusing term in binary.md

The binary.md file, which describes the CBOR representation of dhall expressions, has content like the following (emphasis added):

> The encoding logic includes several optimizations for more compactly encoding
expressions that are fully resolved and αβ-normalized because expressions are
fully interpreted before they are hashed or cached.  *For example, the encoding
uses tags less than 24 for language features that survive both import resolution
and normalization (such as a function type) since those tags fit in one byte.
Language features that don't survive full interpretation (such as a `let`
expression or an import) use tags of 24 or above.*  Similarly, the encoding using
a more compact representation for variables named `_` because no other variable
names remain after α-normalization.

When I read this, I assumed that the word "tags" referred to those described in [RFC7049 section 2.4](https://tools.ietf.org/html/rfc7049#section-2.4) "Optional Tagging Of Items" and I went down a bit of a garden path of implementation before I realised that the word "tag" is being used in a more informal sense.

It doesn't help that, shortly before, the same document uses "Tag" to mean literal RFC7049§2.4 tags:

> `  /  nn              ; Unsigned bignum     (Section 2.4, Tag = 2)`
> `  / -nn              ; Negative bignum     (Section 2.4, Tag = 3)`

Would you accept a PR to try to clear this language up, and make it clear that dhall does not use CBOR tags (other than for bignums), and instead uses arrays with an integer first term to encode type?

I don't have a suggestion for a better word than "tag" but I think at least an explanatory paragraph addressing the ambiguity would help.

@philandstuff: Yeah, I'd accept such a pull request.  If I had to suggest another term to use, perhaps "label" or "prefix".

Follow-up question: why is a custom tagging scheme (array with first item a number) used instead of standard CBOR tags?

@singpolyma: My understanding is that the way Dhall represents sum types (i.e. a list with a numeric prefix) is the idiomatic way to do so.  For example, that's also how the Haskell `cborg` library encodes sum types.

My understanding is that a CBOR tag more closely resembles a Haskell newtype, especially based on these excerpts from the RFC:

> In CBOR, a data item can optionally be preceded by a tag to give it additional semantics while retaining its structure

> Decoders do not need to understand tags, and thus tags may be of
   little value in applications where the implementation creating a
   particular CBOR data item and the implementation decoding that stream
   know the semantic meaning of each item in the data flow.  Their
   primary purpose in this specification is to define common data types
   such as dates.  A secondary purpose is to allow optional tagging when
   the decoder is a generic CBOR decoder that might be able to benefit
   from hints about the content of items.  Understanding the semantic
   tags is optional for a decoder; it can just jump over the initial
   bytes of the tag and interpret the tagged data item itself.

There's also a technical limitation to using CBOR's standard tags: you have to reserve tags via the IANA tags registry as specified in [Section 7.2](https://tools.ietf.org/html/rfc7049#section-7.2) of the RFC.  If you look at the [existing registered tags](https://www.iana.org/assignments/cbor-tags/cbor-tags.xhtml) none of them are used for sum-type-like functionality.

So I’d like to provide a contrary experience here. I’m working on a golang port (philandstuff/shall-golang) and I’m using [codec](https://godoc.org/github.com/ugorji/go/codec) as my CBOR library. Some pertinent facts:

 - go doesn’t have sum types; depending on use case, you can use a) quasi-enums (using iota), b) interface types, c) `interface{}`
 - typically, you use codec by having a typed structure that you tell codec to fill, and it uses the struct’s field types to guide how it deserialises
 - however, in a sum type situation you have a choice of types that you might deserialise into which means you can’t use this approach
 - therefore, you need to deserialise into an interface type like Expr, not a concrete type like NaturalPlus.
 - it then becomes codec’s job to choose a concrete type for the interface. 

It’s easy to write serialisers for codec that each serialise into CBOR arrays. It’s not easy to write deserialisers that correctly deserialise an array into one of a selection of concrete types depending on the label in the first element of the array. Using this library, I can’t see a way to deserialise, other than by deserialising to go arrays and then parsing the arrays myself. Obviously I’d like to avoid this intermediate representation if possible. 

This contrasts with codec’s support for CBOR tags: you can easily call the SetInterfaceExt method to register a serialiser/deserialiser for a tag, so that anything with that tag will always deserialise to that type. You could register tag 0 to App, for example. 

I recognise that this argument about implementation difficulty is largely orthogonal to yours about idiomatic CBOR use. Regarding the standard, my broad feeling is that tags are not required to be processed at all, let alone in the way the tag registry defines, so if we wanted to ignore the tag registry and just use our own parallel tag namespace, that’s be fine. The point of the tag registry is for one CBOR producer to interoperate with another CBOR consumer, but I don’t see that as a goal for Dhall here - we’re just using CBOR to communicate between different Dhall implementations. The codec library supports this by having no tag handlers at all registered by default (not even for tags defined in the original RFC). 

@philandstuff: I still suggest we avoid tags because were not designed for this purpose, especially given that the CBOR RFC specifies an IANA registry and process for reserving tag space which strongly suggests that tags are meant to be stable, significant, semantic entities that are globally agreed upon and standardized, not volatile internal implementation details.

We should use CBOR as it was meant to be used and the idioms of the CBOR standard take precedence over the idioms of any given CBOR implementation because CBOR is not implementation-defined.

@Gabriel439 You're the one setting the standard here, not the other way around, there are a few billions of trillions of tag names lefs. IANA is right on your tail, hanging on to every word you say; they're irrelevant without implementations. It's not the tail wagging the dog.

> not designed for this purpuse
Seems to be exactly the purpose of CBOR tags. So just add a few tags for dhall types. No?

Suppose we can forget CBOR/IANA for a second; which implementation is technically superior? I say use CBOR-style tags, and 32bits would be more than enough; most languages can barely top 10K words, so we can fit the entire universe of imaginable 'types' in 32bits - hell we can probably do it in 16 bits. So I wouldn't worry too much about 'reserved spots' of such enormous namespaces. Grab a few bits right in the middle of nowhere for dhall types. Done! IANA will have lots of time to catch up.

@lifranc: I still view the purpose of CBOR tags more closely resembles a Haskell newtype than a sum type as I mentioned in https://github.com/dhall-lang/dhall-lang/issues/371#issuecomment-469523618.  Even if there were no IANA registry I would still view the list prefix as the "true way" of encoding sum types in CBOR.

Even if you consider the two encodings purely on their technical merits I view the list prefix encoding to be technically superior.  The tag-based encoding requires at least 3 bytes if you don't want to allocate a large-enough block of tag space that hasn't already been assigned.  In contrast, the list-based encoding requires only 2 bytes for all list prefixes up to 24 (and 3 bytes for all list prefixes up to 256).  This is why the Dhall CBOR encoding reserves list prefixes up to 24 for language features that survive normalization, to exploit this compact representation.

The second technical reason is that generic CBOR encoders may optionally ignore tags altogether.:

> Understanding the semantic
   tags is optional for a decoder; it can just jump over the initial
   bytes of the tag and interpret the tagged data item itself.

Again: CBOR tags behave like newtypes, why is this behavior is encouraged.  This behavior wouldn't make sense if a tag were supposed to play the role of a sum type.

You can reuse the whole cbor tag namespace, so there are no size advantages. What about read performance/efficiency? I have a feeling opening a list to get type data isn't the shortest route here; Prefixed type information is, well, prefixed.

> CBOR tags behave like newtypes, why is this behavior is encouraged. This behavior wouldn't make sense if a tag were supposed to play the role of a sum type.

We're talking about dhall tags here, which are *not* optional for dhall.  Now you have 'boilerplate' CBOR data, and potentially 'dead' data which the implementation should 'ignore'. And types which require opening a list to read. Just reuse the CBOR tag namespace, which is easy for CBOR libraries to configure, as codec seems to allow already, according to @philandstuff . Then staying CBOR-compatible is as easy as tagging all dhall objects with a dhall self-describing tag assigned in the IANA registry. And CBOR libraries out there become a lot easier to reuse to support dhall and its dialects since they potentially already support the same style of tags.

In my view the biggest argument here is the preservation of data structure with equivalent CBOR and its dialects. I see 'compatibility' written all over it.

Yes, compatibility is an explicit goal of using CBOR.  If I didn't care about compatibility I would have used a custom binary format instead of CBOR because then I could get a much more compact representation.  That is why I'm trying to use CBOR as idiomatically as possible, because compatibility matters to me.

In particular, I want a prospective company deciding whether or not to adopt Dhall to read the standard and agree with the decisions we made about how to integrate with other ecosystems, which is why I take care to adopt the idioms of each integration as faithfully as possible.

@Gabriel439 Dhall's current binary format isn't compatible with my project, since it changes the data's structure. That's two people saying that *in practice*, this move breaks a practical compatibility. You can put a certain porsche engine in a westfalia, not because the official manual says you can, but because the bolt holes line up. So I'll go dhall <> json <> cbor, or just json <> cbor like I was doing before. The bolt holes dont line up. I haven't disagreed so strongly since I talked with a nuclear-power enthusiast.

@lifranc: Can you expand upon why it isn't compatible with your project?

@Gabriel439 It creates lists where there are none in my code. I am not using dhall lang for itself- but to produce cbor objects, which could ideally have elaborate types. Hence 'tags which do not change the structure of the following objects' is exactly how I want to type data. The dream dhall for me would allow me to customize my own tags. I would not fork dhall to change this, as I'm using rust and do not want to touch text parsing; our UI would represent the binary objects in a graphical tree. The ink has barely touched the paper on this, so I don't have that much to show, I'm mostly testing possibilities. Dhall is a big influence,  btw.

In my view, *you* are the pioneer here, so *you* set the standard for what is 'idiomatic' use.

Basically, I'm trying to use dhall as an 'editor' to write my language, which is written in cbor format, just to make it clearer.

Here's another way to put it to you; dhall could be the ultimate cbor hacking tool.

@lifranc: Ah, I get it now.  You want to be able to strip an encoded Dhall expression of its tags (i.e. actually treating them like newtypes), leaving behind an equivalent CBOR expression.  In other words, the following Dhall expression:

```haskell
[ { foo = 1, bar = True } ]
```

... when encoded to CBOR and stripped of all tags, would generate the exact same CBOR expression (i.e. Dhall lists convert to CBOR lists, Dhall maps convert to CBOR maps, and Dhall bools convert to CBOR bools)

So viewed through that lens then this makes sense to me because you are actually using the CBOR tags as nominal types that you want to ignore in order to get at the underlying structural type.

So when presented that way then this makes sense to me, although I can still foresee some issues, which is that Dhall has to encode things in such a way that they round trip.

For example, consider the case of empty Dhall lists (i.e. `[] : List T`): Dhall has to encode the mandatory element type of an empty list alongside the list and the CBOR encoding of a list (even a tagged list) has nowhere to store the type.  You'd run into a similar option for encoding `None T` in CBOR since a `null` (even a tagged one) has nowhere to store the type `T`.

So even if you define your own tags, cbor has problems storing sum type data, if I understand correctly. How would you _ideally_ solve this? Bincode claims to support enums. I'll try to see how it's done there. I'm very interested to solve this issue. Maybe cbor isn't the best format, although it *is* the most widely implemented. Compromises, always compromises... 
Thank you so much for this fascinating discussion, and I hope to work together one day. Come by for tea! I'm always on matrix, my ID is on my profile. I'll let you know when mycelium has some code to play with.

@lifranc: You're welcome!  🙂 